body {
    text-align: center;
}

.container {
	border: solid black 1px;
	box-shadow: 5px 5px 9px grey;
	background-color: black;
	width: 50%;
	min-width: 525px;
	padding: 20px;
	margin: auto;
}

.header {
	margin-top: 0px;
	padding-top: 2px;
	color: white;
	text-shadow: 4px 4px 6px green;
}

 .wins {
 	color: white;
 }

 #noOfWins {
 	color: red;
 }
 
